<!-- Footer Start -->
<footer class="pb-3" style="font-size:11px">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-12 text-center mb-3">
                {{'TESTNET_DISCLAIMER' | translate }}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-12 mb-2" >
                <div>Enecuum HK Limited<br/>
                    Address: 20/F, Central Tower, 28 Queens Road Central, Hong Kong<br/>
                    © 2019 Enecuum HK Ltd. · <a href="https://enecuum.com/docs/privacy.pdf" target="_blank">Privacy Policy</a> · <a href="https://enecuum.com/docs/terms.pdf" target="_blank">Terms &amp; Conditions</a>
                </div>
            </div>
            <div class="col-sm-6 col-12">
                <div class="text-xl-right footer-links">
                    <a class="mr-2" href="https://www.facebook.com/enecuum.EN/?ref=bookmarks" target="_blank">
                        <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAASCAYAAABit09LAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAJNJREFUeNpi/P//PwMMNHeeNQFSLUBsBsSCDEiABUmRFZA6AMSsDFgAExK7FpciFBOBQAVN7jMQ9wLxR3SF6Kbtqy03bsRmNV7A2NRx5gCUbQHE7Ehyb4H4CpT9H2S1PQ5DhJHkXhFr9T2QiTAHFwAxP5LkRSDeAGVfYYTFDDDAHwApeSSFC4G+TiDZ1yNTIUCAAQAjUCGbmKRTKwAAAABJRU5ErkJggg==" alt="">
                    </a>
                    <a class="mr-2" href="https://twitter.com/enq_enecuum" target="_blank">
                        <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAASCAYAAAC0EpUuAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAXdJREFUeNqs1EsoRFEcx/GZcZU8Ejt5FGXYyGIWrKwor7JgMWWFlJSFlVJeI4WF1ZRsLOxodoTYWCgbI1EWEotpEkmUWSl8//W/dZvmzpyZ8a/Pvad77vzOPWdOxxtavfRkUV5MYgpN+MQZQnMzgavltWgF7TIfl0asoNggdAthDZQqxwCiBMa4P6NdQvsxiyNUpgnsxXia/ho8wS+hRfqwA9focflR0GAmzfjwaZBdtTjEKfpQ4OirMwhdZ23DFo0T3KLF0dmpErjAPVoNQiXLY+ma7ieF2lXiGMCk3uQi06/SPyrf+sGDHRrB1z+E3rCeCTtUPnlMR8qnInbDp/c9dOExx8Bv7CSHSk2gIcfQTaYeSxW6KBs3h8A4lpwPnKF3aMMBfrOYdpCvfHcL9egmH9Q1NtlCIwSeJ3dYepzJkeXXTT6K+gyB8mXDOE7Vael6TKPUcLrbWMCL20sSOo8NDKEbAVSjUKcY10NHDpldvGYa+U+AAQAnrVB8rd4plgAAAABJRU5ErkJggg==" alt="">
                    </a>
                    <a class="mr-2" href="https://medium.com/@EnqBlockchain" target="_blank">
                        <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABYAAAASCAYAAABfJS4tAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAXlJREFUeNpibOo4E8fAwODEgAk+AHEBA35gBMR5WMSfsQCJfUDcCcQSWBRsBeLdeAwuBOIYNLE3QOzDBCSeALE/EP/AorEUj6HCQByKJvYX5PvacuOTTFCBU0BchUWzKxDr4TA4AYjZ0cS+AA29DGIwIQnex2EANlczAnEavsBnwiL2Co0fDsSyaGL2QKwGxO9JMXgSGp8ViPPRxECuPQjEj0gxeD4Qv8ViED+ULQLEwUA8m9Sg+AbEU9DEeJHCNB6IvwLxWlINZoAajJ788qGpAGTBYhzJk6DBoEQ+D01MGohnQCNtDoEcidNgEOgD4n9Y0u4JIL5MicF3gXgdFnGCrsVlMLJYF5rcZyBeQYrBoJyUBGVnIcmfhqZXGFgBTRFEG1wPxL5QdhMSG93VM5HYslhyJE9z51ldsEuB5XEQljQJ8rI5EF+H+gYUWX+A2AAqrwLEB6ApBVuKcgKVx5pAPBGLAn2owf+hBT4LkpwfEO/BExL+AAEGAHDASX1M/1ugAAAAAElFTkSuQmCC" alt="">
                    </a>
                    <a class="mr-2" href="https://github.com/Enecuum" target="_blank">
                        <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAASCAYAAAC0EpUuAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAdBJREFUeNqslEsoRGEUx+/oNoMajJVHkkchj9J4JXaKIhbXRlGkNAuJmrKy8SiPhewtKBvFaprCSlI0Ic+JhddiYjNeG/Ia/zOdqdOXoan71a/73XO+73/Pd+75jmV0ck/j4QMJYBHMgyft/5EEuoELBEeGnfVkjGNnKqgAJWAGXINBoEcRI/sAuAFzoAjUjU3tO6SoE1jEphQwC67ABXgFIfDBtlsWcygfK9VEJJlRIsr6JcKcP9KRISON18wZaVLUMEnUiIi2gwaTROlnGSTap5k7XJT4GsVIf/kc3IMXropk9tn4/RF8gXxQoOyvJlG7MARACziMITKq7xWQze92Ov6bWNDLgvSxIdAWRYg+7AZW3CK6kj3C965zdHngAWywgwSneV4GTsQmunUeUYrjYBM8c5oCFOkuLwhyPmlUChE15+ViHl6HaEOiV/hIdFXcHhvP/WLjqSJ6JubhdSgjKx7pbFvW+SjHfMwOsMBHTwSXYEcRPeDcF4IJtnVRftnnsXDrK+a8kKMZbMdS8MDLqatFKvy6OBL1wiWwBdbAOh+P2uCn0lRyud01gUZwBDpJUFP6JRV8FWjlq9uv5FkOuhR33Nip7LwQ/I44fwQYALgeZoscgpLYAAAAAElFTkSuQmCC" alt="">
                    </a>
                    <a class="mr-2" href="https://bitcointalk.org/index.php?topic=2939909.0;topicseen" target="_blank">
                        <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAUCAYAAAC58NwRAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAWNJREFUeNqMk08oBHEUx3+zoywXUfKnFC5ysosjKYdNts26caD25CZcnEQ4cOHsYI/ODtqTE/ZGuIiclFqSHCT/0vg8vakxze7Mq0/v+3Z/7/f7zm/eWI7jGIm1zbMOUh3cLC32vVMn0F/oK+OJmEdvwzl0aS26YHxh2zWZxFGxNIJOQQuUqOW0LHyjD4cGWh/cBmt143SFvGwqxwlMYu9eGmR3IQOdsAdPHssptXkJ/ZbnofdJY5Bkpwt3a36Pk4rQC+OxECuG5g/SrpY9oQ0azZrfqiqtwo5FSsMCiPeDoIZjFv6oroa46i3sXYdZ+vToLBs1Bp0w6LulJlIeRmE9yi09kqZBbGai3tKL2quP2jAFtTKQMhoNiFmY0BHYAXfYbOiWN6xjkpaHHvYN30zACa8wx/MUpOsWcjr/Rptzqp/1xbWxOP833uWGj1r+uEO3l/vi5mWxfKJaJ/Xu/8WvAAMAJ45w27DeA+EAAAAASUVORK5CYII=" alt="">
                    </a>
                    <a class="mr-2" href="https://www.linkedin.com/company/enecuum-limited/" target="_blank">
                        <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAASCAYAAABb0P4QAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAO9JREFUeNpibOo484GBgYGfAQLuALEqAwmgttwYhc+EZBgIiDJQCJgYqAxYgLgBiAWh/IfUMLCR2i7MBWJhKP8BEC+AslWAOAbK/gXEE4H4KxA7A3EcEGuAgqy58+xdIL0KiNcDI+g/IzCW/yNZ8BGIBaDsAiDuR5LzBOIkIA7F4bhtQBzEQoJvFhFIBV5AnE9KLIMMewN1uRkQRwDxUzQ1UaS48C8QOwHxZSj/NBC/A+JdSGo0SXHhYSTDYOAoGp+NFAOvYRH7BsQ/yM0pX3GI/yTXwG8DkpeHhoEfkfivkdjv0dS+wWEGsp6PAAEGAIaWMRZKivZgAAAAAElFTkSuQmCC" alt="">
                    </a>
                    <a class="mr-2" href="https://www.youtube.com/channel/UCyZqNfzK_PP82nkAVOlmN4Q" target="_blank">
                        <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAASCAYAAABb0P4QAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAR1JREFUeNpibOo4w4AFcAExGxBzAzErEAtAxX8B8Tco+wMQf68tN/6JrJEFSocCcQ4QqwOxCBAzMxAJmjvPvgdSl4F4CtDw1YxAF9oDOQcYqAMcmIBENAP1QBQT1JvUAqogA1UIKHpMgoGyTNCYxAcsgHgiEP8nwkB+kIG8BBSBkkkBKMCB+AEBtewgA5mI9M4hINYF4ml41PAxMVAZgBL2J5DJRKi1A+KFQKyAR80/kAt/EjAIlA0nQBO/AgG1n0Eu/AjEongUnQAlByJ9/JWJiHQmS0IQ3gEZeJuKcXITZOAyKhq4FGTgQSAOg6az9yQa8BeIX0L1hgGLr4Ow8nA1FINTOxBzIhWqsMIWVqj+BgU+rLAFGoJiA0CAAQAShTe8S9WyygAAAABJRU5ErkJggg==" alt="">
                    </a>
                    <div class="d-inline">
                        <img class="dropdown-toggle" id="tlg-items" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAYAAABWzo5XAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAR1JREFUeNpibOo4w0AmYARiMyB2AuILLCRqZgVieyAOBOIAIJaCiv8mxiAuIPaAavYGYkEsap7hMkgIiH2hmt2BmIOAZeuRDZKFOjcA6nxmErwMNghkwBpowJEDXgPxUSYgIQ7ExkRquoNFbHNtufFfkEGg+NcB4i14DLgADbP1WOTWgQgmKOcGVKED1GAYuA7E4UBsBMRngTgXzZAvQLwHxECPtYPQsIoEYjYgXgzEf6FydVhibxvQWz+xGQQC/4F4GZqYEhAnY4stGIOJyECuh6ZqZPALiLeTYhAX1KvoYB8QfyTFoG9APAuft0jxWiMQf0ILx43kGARKvZ1I/GNA/JIcg0CgH4ifYPMWqQZ9B+JsUL4C4uXokgABBgAbVDbAgXTVswAAAABJRU5ErkJggg==" alt="">
                        <div class="popup dropdown-menu dropdown-menu-right" aria-labelledby="tlg-items">
                            <a class="dropdown-item" href="https://t.me/Enecuum" target="_blank">Russian</a>
                            <a class="dropdown-item" href="https://t.me/Enecuum_EN" target="_blank">English</a>
                            <a class="dropdown-item" href="https://t.me/EnecuumVietnam" target="_blank">Vietnamese</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- end Footer -->