                                <div class="text-center w-75 m-auto">
                                    <h4 class="text-dark-50 text-center mt-0 font-weight-bold">{{'TIMEOUT' | translate}}</h4>
                                    <p class="text-muted mb-4">{{'TIMEOUT_DESC' | translate}}</p>
                                </div>

                                <div class="logout-icon m-auto">
                                    <svg  version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                    viewBox="0 0 161.2 161.2" enable-background="new 0 0 161.2 161.2" xml:space="preserve">
                                    
                                        <circle class="path" fill="none" stroke="#e61919" stroke-width="4" stroke-miterlimit="10" cx="80.6" cy="80.6" r="62.1"/>
                                        <polyline class="path" fill="none" stroke="#e61919" stroke-width="6" stroke-linecap="round" stroke-miterlimit="10" points="107,55 55,107"/>
                                        <polyline class="path" fill="none" stroke="#e61919" stroke-width="6" stroke-linecap="round" stroke-miterlimit="10" points="54,54 107,107"/>

                                        <circle class="spin" fill="none" stroke="#e61919" stroke-width="4" stroke-miterlimit="10" stroke-dasharray="12.2175,12.2175" cx="80.6" cy="80.6" r="73.9"/>
                                    </svg>
                                </div> <!-- end logout-icon-->
